/*
- Review colours for consistency / use variables
- Organise / comment everything
- Fix links for side-bar component navigation
- Make Example / Contact Pages
- Link docs link
- Content everywhere
*/

:root {
	--base-text-color: #140a2c;
	--base-purple: #4c15ce;
	--dark-grey: #5a526b;
	--light-blue: #d7e2f0;
	--offwhite-grey-white: #f5f7fa;
	--full-white: #ffffff;
	--table-background-light-grey: #efeff1;
	--drop-shadow-grey: #dbdbdb;
	--light-bg-yellow: #fffbea;
	--dark-border-yellow: #fff3c4;
	--support-dark-yellow: #f0b429;

	--layout-0px: 0;
	--layout-8px: 8px;
	--layout-16px: 16px;
	--layout-24px: 24px;
	--layout-48px: 48px;
	--layout-72px: 72px;
	--layout-288px: 288px;
	--layout-auto: auto;

	--corner-4px: 4px;
	--corner-8px: 8px;
	--corner-56px: 56px;
}

html {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	color: var(--base-text-color);
	box-sizing: border-box;
	margin: var(--layout-0px);
	padding: var(--layout-0px);
	scroll-behavior: smooth;
}

h2,
h3 {
	color: var(--dark-grey);
}

/* Link styling */
a:link {
	text-decoration: none;
	color: var(--base-purple);
}

a:not(:table) {
	color: var(--base-purple);
	line-height: 1.3;
	color: red;
}

nav a:link {
	display: block;
}

a:visited,
a:visited:not(:table) {
	/* color: var(--base-purple); */
	color: red;
}

/* Link Hover style */
.components-navigation-bar a:hover {
	transform: scale(1.1);
	font-weight: 700;
}

/* Active Link Style */
a.is-selected {
	font-weight: 700;
	background: var(--base-purple);
	color: var(--full-white);
	border-radius: var(--corner-4px);
	/* width: var(--layout-72px) * 2; */
	box-sizing: border-box;
}

/* Base text styles */
p {
	line-height: 1.6;
	font-size: 1.125rem;
}

/* H3 Style */
h3 {
	text-decoration: underline solid var(--dark-grey);
	color: var(--dark-grey);
}

/* Main content layout */
main {
	background: var(--base-white);
}

/* Padding Reset */
ul,
h3 {
	padding: var(--layout-0px);
}

/* Consistent Padding for Components Nav Bar */
nav h3,
aside h3,
nav ul {
	padding-left: var(--layout-24px);
}

/* Sections within Main Content */
section {
	margin: calc(var(--layout-48px) * 2) var(--layout-0px);
	padding: 24px 24px 48px 24px;
	background-color: var(--offwhite-grey-white);
}

main section h3 {
	font-size: 2rem;
}

aside ul {
	padding-inline-start: 0;
}

nav ul li a {
	font-weight: 500;
}

aside {
	padding-inline-start: 0;
	padding: 16px 32px 16px 16px;
	margin-left: 42px;
	border-radius: 4px;
	grid-column: 8 / 10;
}

aside h4 {
	font-size: 18px;
	font-weight: bold;
}

aside p {
	font-size: 16px;
}

nav ul li .wordmark {
	font-weight: 900;
}

/* Table Row */
tr {
	background-color: var(--table-background-light-grey);
}

.table__empty-row--faded {
	/* background-color: var(--table-background-light-grey); */
	background: var(--light-bg-yellow);
	height: 25%;
}

/* Table Heading */
th {
	background: var(--light-bg-yellow);
}

table {
	/* font-size: 1.125rem; */
	font-size: 1rem;
	color: var(--base-text-color);
	width: 100%;
	line-height: 1.25;
}

pre {
	overflow-x: auto;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	margin: 0;
}

code {
	font-family: Hack, Menlo, Consolas, "DejaVu Sans Mono", monospace;
	background: #041525;
	padding: var(--layout-48px);
	font-size: 14px;
	line-height: 1.4;
	border-radius: var(--corner-8px);
	color: var(--full-white);
	border: 1px solid var(--drop-shadow-grey);
	display: block;
}

/* Table Data */
td,
th {
	padding: var(--layout-16px);
	border: 1px solid var(--drop-shadow-grey);
}

/* Zebra Stripping */
tr:nth-child(even) {
	background-color: var(--full-white);
}

table {
	margin: 0px 0px 0px 0px;
	border-collapse: collapse;
	text-align: left;
}

.section-main--hierarchy-line {
	background: #d8e2ef;
	height: 1px;
	width: 80%;
	margin: 64px auto 24px;
}

.components-navigation-bar h3 {
	font-size: 1.5rem;
}

.small-wordmark {
	font-weight: 900;
	color: var(--base-purple);
}

.svg-icon {
	margin-right: var(--layout-8px);
}

/* Main Page Nav */
.top-level-navigation {
	background: var(--offwhite-grey-white);
	position: fixed;
	top: var(--layout-0px);
	left: var(--layout-0px);
	right: var(--layout-0px);
	margin-bottom: var(--layout-16px);

	/* box-shadow: 0px 8px 8px var(--drop-shadow-grey); */
	box-shadow: 0px 8px 8px #a2a2a5;
	border-top: 8px solid var(--support-dark-yellow);
	opacity: 0.9;
}

/*  Main Page Nav UL */
.top-level-ul {
	display: flex;
	justify-content: space-around;
	padding-inline-start: 0px;
}

/* Main Page Nav List items */
.top-nav-list {
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	padding: 8px 24px;
}

.link1 {
	justify-content: left;
	flex-grow: 3;
	font-weight: bold;
	font-size: 22px;
}

.link1 span {
	font-weight: normal;
	font-size: 16px;
	margin-left: 8px;
	color: var(--dark-grey);
}

.nav-links {
	text-decoration: underline;
}

/* Floating Components Nav Section */
.components-navigation-bar {
	position: fixed;
	top: 160px;

	padding: 24px 48px;

	padding-inline-start: 0;
	background: var(--offwhite-grey-white);
	border-radius: 4px;
	border: 1px solid var(--light-blue);
}

.components-navigation-bar a:link {
	padding: 8px;
}

/* Components Bar Nav List */
.navigation-list-item {
	list-style: none;

	border-radius: 4px;
}

.components-navigation-bar ul li {
	width: 144px;
	margin: 8px 0;
	padding: 0px 48px 0px 0;
}

/* Main Page h1 Title */
.hero-title {
	color: var(--dark-grey);
	font-size: 3rem;
}

/* Adding space below code block */
/* red MIGHT BE ABLE to remove RED TODO */
/* .content-unordered-list {
	margin-top: 50px;
	margin-left: 1.5rem;
	line-height: 2;
} */

/* Main Text Content Paragraphs */
.content-paragraph {
	margin-bottom: 30px;
}

.ul-intro-list,
.section-main--ul {
	padding-left: 32px;
	font-size: 18px;
	line-height: 1.4;
	color: var(--dark-grey);
	margin-top: -8px;
	padding-top: 0;
}

.section-main--ul {
	padding-left: 16px;
	line-height: 1.7;
}

.authors-note {
	color: var(--dark-grey);
	font-style: italic;
}

.design-goals {
	padding: 8px 24px;
	border: 1px solid var(--light-blue);
	background: var(--offwhite-grey-white);
	margin: 2rem auto;
	width: 61%;
	border-radius: 4px;
	box-shadow: 0px 12px 16px var(--drop-shadow-grey);
}

.design-goals h3 {
	color: var(--base-purple);
	padding-left: 16px;
}

.divider-line {
	height: 4px;
	margin: 144px auto;
	background: #f1f4f9;
}

.divider-line:first-child {
	margin-top: 0;
}

.authors-note h4 {
	text-decoration: underline;
	padding-bottom: 0;
	margin-bottom: 0;
}

.code-snippet__button {
	padding: 8px 16px;
	color: var(--light-blue);
	border: 1px solid #88aaf9;
	color: var(--base-text-color);
	font-size: 16px;
	font-weight: 500;
}

.code-snippet__button--right {
	display: flex;

	margin: 16px 0px 16px auto;
}

.code-ui-example__image {
	width: 100%;
	box-shadow: 0 12px 16px var(--drop-shadow-grey);
	border-radius: 16px;
	border: 1px solid red;
	margin: 0 auto;
}

.aside-share {
	margin-top: 244px;
	border: 1px solid var(--light-blue);
	height: intrinsic; /* Safari/WebKit uses a non-standard name */
	height: -moz-max-content; /* Firefox/Gecko */
	height: 208px;
	padding: 0;
}

.aside-share p {
	padding-bottom: 0;
}

.twitter-share {
	width: fit-content;
	padding: 0 16px 16px 0;
	margin: 0 0 auto auto;
	height: 208px;
}

.aside-share h4 {
	background: var(--offwhite-grey-white);
	border: 1px solid var(--light-blue);
	color: var(--dark-grey);
	padding-top: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding: var(--layout-16px);
}

.aside-share p {
	padding: var(--layout-16px);
	margin-top: 0;
	margin-bottom: 0;
}

.code-block--scroll-height {
	height: auto;
	max-height: 320px;
	overflow: scroll;
}

.code––content--h3-title {
	margin-top: var(--layout-48px);
	text-decoration: underline;
	color: var(--dark-grey);
	font-size: 1.375rem;
}

.aside-style-2 {
	grid-row: 2;
	height: 192px;
	background: var(--light-bg-yellow);
	border: 3px solid var(--dark-border-yellow);
}

.content-paragraph {
	margin-top: var(--layout-0px);
}

.content-title-margin {
	margin-top: var(--layout-48px);
	margin-bottom: var(--layout-24px);
}

.section-main--group-component h6:not(table) {
	margin: var(--layout-0px);
	padding: var(--layout-0px);
}

/* E.g. h1 */
.code-selector {
	color: #acb2be;
}

/* E.g. color */
.code-property {
	color: var(--full-white);
}

/* E.g 12px 0px 0px 0px */
.code-value1 {
	color: #93d8ca;
}

/* E.g. 0px 16px 0px 0px */
.code-value2 {
	color: #88aaf9;
}

/* E.g. 0px 0px 16px 0px */
.code-value3 {
	color: #e7c594;
}

/* E.g. 0px 0px 0px 16px */
.code-value4 {
	color: #ea9173;
}

.section__layout--font {
	font-size: 1rem;
}

.section__layout--text-align td:nth-child(even) {
	text-align: center;
	font-weight: 500;
}

.layout-example {
	background: var(--base-purple);
	color: var(--full-white);

	border-radius: var(--corner-4px);

	padding: var(--layout-8px);
}

.layout-example-8px {
	margin: var(--layout-8px) auto;
}
.layout-example-16px {
	margin: var(--layout-16px) auto;
}
.layout-example-24px {
	margin: var(--layout-24px) auto;
}
.layout-example-32px {
	margin: var(--layout-24px) auto;
}
.layout-example-48px {
	margin: var(--layout-48px) auto;
}
.layout-example-72px {
	margin: var(--layout-72px) auto;
}
.layout-example-auto {
	margin: auto auto;
}

/* Giving the Example Table Cell a width of 56% of the Table */
.table__colours--example {
	width: 56%;
}

.table__colours--cell-border {
	border: 1px solid var(--neutral-grey-500);
}

/* Blue Example Colomun Colours */
.table__colours--primary-blue-700 {
	background-color: var(--primary-blue-700);

	border-radius: var(--corner-4px);

	width: auto;
	height: var(--layout-48px);
}
.table__colours--primary-blue-600 {
	background-color: var(--primary-blue-600);

	border-radius: var(--corner-4px);

	width: auto;
	height: var(--layout-48px);
}
.table__colours--primary-blue-500 {
	background-color: var(--primary-blue-500);

	border-radius: var(--corner-4px);

	width: auto;
	height: var(--layout-48px);
}
.table__colours--primary-blue-400 {
	background-color: var(--primary-blue-400);

	border-radius: var(--corner-4px);

	width: auto;
	height: var(--layout-48px);
}
.table__colours--primary-blue-300 {
	background-color: var(--primary-blue-300);

	border-radius: var(--corner-4px);

	width: auto;
	height: var(--layout-48px);
}
.table__colours--primary-blue-200 {
	background-color: var(--primary-blue-200);

	border-radius: var(--corner-4px);

	width: auto;
	height: var(--layout-48px);
}
.table__colours--primary-blue-100 {
	background-color: var(--primary-blue-100);

	border-radius: var(--corner-4px);

	width: auto;
	height: var(--layout-48px);
}

/* Neutral Example Colours Column */
.table__colours--neutral-grey-700 {
	background-color: var(--neutral-grey-700);

	border-radius: var(--corner-4px);

	width: auto;
	height: var(--layout-48px);
}
.table__colours--neutral-grey-600 {
	background-color: var(--neutral-grey-600);

	border-radius: var(--corner-4px);

	width: auto;
	height: var(--layout-48px);
}
.table__colours--neutral-grey-500 {
	background-color: var(--neutral-grey-500);

	border-radius: var(--corner-4px);

	width: auto;
	height: var(--layout-48px);
}
.table__colours--neutral-grey-400 {
	background-color: var(--neutral-grey-400);

	border-radius: var(--corner-4px);

	width: auto;
	height: var(--layout-48px);
}
.table__colours--neutral-grey-300 {
	background-color: var(--neutral-grey-300);

	border-radius: var(--corner-4px);

	width: auto;
	height: var(--layout-48px);
}
.table__colours--neutral-grey-200 {
	background-color: var(--neutral-grey-200);

	border-radius: var(--corner-4px);

	width: auto;
	height: var(--layout-48px);
}
.table__colours--neutral-grey-100 {
	background-color: var(--neutral-grey-100);

	border-radius: var(--corner-4px);

	width: auto;
	height: var(--layout-48px);
}

/* Support-Colours Example-Column */
.table__colours--support-red-600 {
	background-color: var(--support-red-600);

	border-radius: var(--corner-4px);

	width: auto;
	height: var(--layout-48px);
}
.table__colours--support-red-400 {
	background-color: var(--support-red-400);

	border-radius: var(--corner-4px);

	width: auto;
	height: var(--layout-48px);
}
.table__colours--support-red-200 {
	background-color: var(--support-red-200);

	border-radius: var(--corner-4px);

	width: auto;
	height: var(--layout-48px);
}

.table__colours--support-green-600 {
	background-color: var(--support-green-600);

	border-radius: var(--corner-4px);

	width: auto;
	height: var(--layout-48px);
}
.table__colours--support-green-400 {
	background-color: var(--support-green-400);

	border-radius: var(--corner-4px);

	width: auto;
	height: var(--layout-48px);
}
.table__colours--support-green-200 {
	background-color: var(--support-green-200);

	border-radius: var(--corner-4px);

	width: auto;
	height: var(--layout-48px);
}

.table__colours--support-yellow-600 {
	background-color: var(--support-yellow-600);

	border-radius: var(--corner-4px);

	width: auto;
	height: var(--layout-48px);
}
.table__colours--support-yellow-400 {
	background-color: var(--support-yellow-400);

	border-radius: var(--corner-4px);

	width: auto;
	height: var(--layout-48px);
}
.table__colours--support-yellow-200 {
	background-color: var(--support-yellow-200);

	border-radius: var(--corner-4px);

	width: auto;
	height: var(--layout-48px);
}

/* Footer Card Style */
footer {
	color: #131313;
	min-width: 18ch;
	max-width: 40ch;
	margin: 0px auto 122px auto;
	padding: 0 16px;
	background: #fcfcfc;
	border: #e5e5e5 1px solid;
	border-top: 4px solid #f8cb47;
	box-shadow: 0 12px 16px rgba(229, 229, 229, 0.9);
	line-height: 1.7;
}
footer p {
	font-size: 16px;
}
footer a {
	color: #45498f;
}
footer a:hover {
	border-bottom: 4px solid #f8cb47;
	text-decoration: none;
}

/* Screens larger than 1440px */
@media screen and (min-width: 1230px) {
	.top-level-navigation {
		padding-left: 80px;
		padding-right: 80px;
	}

	.main-grid {
		display: grid;
		grid-template-columns: repeat(9, 1fr);
		grid-gap: 32px;
		margin: 0 96px;
	}

	section {
		background: #f6f8fb;
		box-shadow: 0px 12px 16px var(--drop-shadow-grey);
		border: 1px solid var(--light-blue);
	}

	section:last-child {
		margin-bottom: 200px;
	}

	.main-content-article {
		grid-column: 3 / 8;
	}

	.page-introduction-header {
		margin-top: 122px;
		margin-bottom: 64px;
		grid-column: 3 / 8;
	}

	/* Floating Components Nav Section */
	.components-navigation-bar {
		grid-column: 1 / 3;
		padding: 8px;
	}
}

/* Screens smaller than 1440px */
@media screen and (max-width: 1230px) {
	.top-level-navigation {
		padding: 0 var(--layout-72px);
	}

	.top-nav-list:nth-child(2),
	.top-nav-list:nth-child(3),
	.top-nav-list:nth-child(4) {
		padding-top: 12px;
	}

	section {
		padding: var(--layout-8px);
	}

	aside {
		display: none;
	}

	main {
		max-width: 32ch;
		margin: 96px auto 0;
		min-width: 80%;
		padding: var(--layout-8px);
	}

	.hero-title {
		font-size: 40px;
	}

	.components-navigation-bar {
		display: none;
	}

	.top-nav-list {
		padding: 8px 12px;
	}

	/* Main Page Nav */
	.top-level-navigation {
		opacity: 0.95;
	}

	.design-goals {
		width: 80%;
	}

	.mobile-nav-hidden {
		display: none;
	}

	.divider-line {
		margin: 32px 0;
	}
}

@media screen and (max-width: 450px) {
	/* Table Heading */
	th {
		padding: 16px 8px;
	}

	/* Table Data */
	td {
		padding: 16px 8px;
	}
}
