/*
- Fix aside-share on Firefox
- Review colours for consistency / use variables
- Clean out unused code
- Organise / comment everything
- Fix links for side-bar component navigation
- Make Example / Contact Pages
- Link docs link
- Content everywhere
*/

:root {
	--base-text-color: #140a2c;
	--base-purple: #4c15ce;
	--light-teal: #d7e2f0;
	--media-large: #f5f7fa;
	--base-white: #ffffff;
}

html {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-display: swap;
	color: var(--base-text-color);
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: auto;
	/* background: var(--base-white); */
}

h2,
h3 {
	color: #5a526b;
}

/* Link styling */
a:link {
	color: var(--base-purple);
	text-decoration: none;
	line-height: 1.3;
}

nav a:link {
	display: block;
}

a:visited {
	color: var(--base-purple);
}

/* Link Hover style */
.components-navigation-bar a:hover {
	transform: scale(1.1);
	font-weight: bold;
}

/* Active Link Style */
a.is-selected {
	font-weight: bold;
	background: var(--base-purple);
	color: var(--base-white);
	border-radius: 4px;
	width: 144px;
	box-sizing: border-box;
}

/* Base text styles */
p {
	line-height: 160%;
	font-size: 1.125rem;
}

/* H3 Style */
h3 {
	text-decoration: underline solid #5a526b;
	color: #5a526b;
}

/* Main content layout */
main {
	background: var(--base-white);
}

/* Padding Reset */
ul,
h3 {
	padding: 0;
}

/* Consistent Padding for Components Nav Bar */
nav h3,
aside h3,
nav ul {
	padding-left: 1.5rem;
}

/* Sections within Main Content */
section {
	margin: 88px 0;
	padding: 24px 24px 48px 24px;
}

main section h3 {
	font-size: 2rem;
}

aside ul {
	padding-inline-start: 0;
}

nav ul li a {
	font-weight: 500;
}

aside {
	padding-inline-start: 0;
	padding: 16px 32px 16px 16px;
	margin-left: 42px;
	border-radius: 4px;
	grid-column: 8 / 10;
}

aside h4 {
	font-size: 18px;
	font-weight: bold;
}

aside p {
	font-size: 16px;
}

nav ul li .wordmark {
	font-weight: 900;
}

/* Table Row */
tr {
	background-color: #efeff1;
}

/* Table Heading */
th {
	background: #fffbea;
}

table {
	font-size: 18px;
	color: #140a2c;
	width: 100%;
	line-height: 1.25;
}

pre {
	overflow-x: auto;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	margin: 0;
}

code {
	font-family: Hack, Menlo, Consolas, "DejaVu Sans Mono", monospace;
	background: #041525;
	padding: 48px;
	font-size: 14px;
	line-height: 1.3;
	border-radius: 8px;
	color: #ffffff;
	border: 1px solid #dbdbdb;
	display: block;
}

/* Table Data */
td,
th {
	padding: 16px 16px 16px 16px;
	border: 1px solid #dbdbdb;
}

/* Zebra Stripping */
tr:nth-child(even) {
	background-color: #ffffff;
}

table {
	margin: 0px auto 0px 0px;
	border-collapse: collapse;
	text-align: left;
}

.section-main--hierarchy-line {
	background: #d8e2ef;
	height: 1px;
	width: 80%;
	margin: 64px auto 24px;
}

.components-navigation-bar h3 {
	font-size: 24px;
}

.small-wordmark {
	font-weight: 900;
	color: var(--base-purple);
}

.svg-icon {
	margin-right: 8px;
}

.component-content {
	margin-left: 32px;
}

/* Main Page Nav */
.top-level-navigation {
	background: #f5f7fa;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin-bottom: 16px;
	border: 1px solid #d7e2f0;

	/* box-shadow: 0px 4px 8px #dbdbdb; */
	box-shadow: 0px 4px 8px #dbdbdb;
	/* border-top: 2px solid #b79cf7; */
	border-top: 8px solid #f0b429;
	opacity: 0.9;
}

/*  Main Page Nav UL */
.top-level-ul {
	display: flex;
	justify-content: space-around;
	padding-inline-start: 0px;
}

/* Main Page Nav List items */
.top-nav-list {
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	padding: 8px 24px;
}

.link1 {
	justify-content: left;
	flex-grow: 3;
	font-weight: bold;
	font-size: 22px;
}

.link1 span {
	font-weight: normal;
	font-size: 16px;
	margin-left: 8px;
	color: #5a526b;
}

.nav-links {
	text-decoration: underline;
}

/* Floating Components Nav Section */
.components-navigation-bar {
	position: fixed;
	top: 160px;

	padding: 24px 48px;

	padding-inline-start: 0;
	background: #f5f7fa;
	border-radius: 4px;
	border: 1px solid #d7e2f0;
	/* box-shadow: 0px 4px 8px #dbdbdb; */
}

.components-navigation-bar a:link {
	padding: 8px;
}

/* Components Bar Nav List */
.navigation-list-item {
	list-style: none;

	border-radius: 4px;
}

.components-navigation-bar ul li {
	width: 144px;
	margin: 8px 0;
	padding: 0px 48px 0px 0;
}

/* Main Page h1 Title */
.hero-title {
	font-size: 3rem;
}

/* Adding space below code block */
/* red MIGHT BE ABLE to remove RED TODO */
.content-unordered-list {
	margin-top: 50px;
	margin-left: 1.5rem;
	line-height: 2;
}

/* Main Text Content Paragraphs */
.content-paragraph {
	margin-bottom: 30px;
}

.ul-intro-list,
.section-main--ul {
	padding-left: 32px;
	font-size: 18px;
	line-height: 1.4;
	color: #5a526b;
	margin-top: -8px;
	padding-top: 0;
}

.section-main--ul {
	padding-left: 16px;
	line-height: 1.7;
}

.authors-note {
	color: #5a526b;
	font-style: italic;
}

.design-goals {
	padding: 8px 24px;
	border: 1px solid #d7e2f0;
	background: #f5f7fa;
	margin: 2rem 0;
	border-top: 4px solid #d7e2f0;
	width: 61%;
	border-radius: 4px;
	margin: 4rem auto;
}

.design-goals h3 {
	color: #4c15ce;
	padding-left: 16px;
}

.divider-line {
	height: 4px;
	margin: 144px auto;
	background: #f1f4f9;
}

.divider-line:first-child {
	margin-top: 0;
}

.authors-note h4 {
	text-decoration: underline;
	padding-bottom: 0;
	margin-bottom: 0;
}

.code-snippet__button {
}
.code-snippet__button--right {
	display: flex;

	margin: 16px 0px 16px auto;
	padding: 8px 16px;
	background: #d7e2f0;
	border: 1px solid #88aaf9;
	color: #140a2c;
	border-radius: 4px;
	font-size: 16px;
	font-weight: 500;
}

.code-ui-example__image {
	width: 100%;
	box-shadow: 0 12px 16px #dbdbdb;
	border-radius: 16px;
}

.aside-share {
	margin-top: 244px;
	border: 1px solid #d7e2f0;
	height: intrinsic; /* Safari/WebKit uses a non-standard name */
	height: -moz-max-content; /* Firefox/Gecko */
	height: -webkit-max-content; /* Chrome */
	height: 208px;
	padding: 0;
}

.aside-share p {
	padding-bottom: 0;
}

.twitter-share {
	width: fit-content;
	padding: 0 16px 16px 0;
	margin: 0 0 auto auto;
	height: 208px;
}

.aside-share h4 {
	background: #f5f7fa;
	color: #5a526b;
	/* padding: 8px; */
	padding-top: 0;
	margin-top: 0;
	padding: 16px;
	margin-bottom: 0;
}

.aside-share p {
	padding: 16px;
	margin-top: 0;
	margin-bottom: 0;
}

.typography {
	height: 320px;
	overflow: scroll;
}

.code––content--h3-title {
	margin-top: 48px;
	text-decoration: underline;
	color: #5a526b;
	font-size: 22px;
}

.aside-style-2 {
	grid-row: 2;
	height: 192px;
	background: #fffbea;
	border: 3px solid #fff3c4;
}

/* Screens larger than 1440px */
@media screen and (min-width: 1420px) {
	.top-level-navigation {
		padding-left: 80px;
		padding-right: 80px;
	}

	.main-grid {
		display: grid;
		grid-template-columns: repeat(9, 1fr);
		grid-gap: 32px;
		margin: 0 96px;
	}

	section {
		background: #f6f8fb;
		box-shadow: 0px 12px 16px #dbdbdb;
		border: 1px solid #d7e2f0;
	}

	section:last-child {
		margin-bottom: 200px;
	}

	.main-content-article {
		grid-column: 3 / 8;
	}

	.page-introduction-header {
		margin-top: 122px;
		margin-bottom: 64px;
		grid-column: 3 / 8;
	}

	/* Floating Components Nav Section */
	.components-navigation-bar {
		grid-column: 1 / 3;
		padding: 8px;
	}
}

.content-paragraph {
	margin-top: 0;
}

.content-title-margin {
	margin-top: 48px;
	margin-bottom: 24px;
}

.seed-h1 {
	font-size: 32px;
	font-weight: 700;
}

.seed-h2 {
	font-size: 28px;
	font-weight: 700;
}

.seed-h3 {
	font-size: 26px;
	font-weight: 700;
}

.seed-h4 {
	font-size: 22px;
	font-weight: 700;
}

.seed-h5 {
	font-size: 20px;
	font-weight: 700;
}

.seed-h6 {
	font-size: 18px;
	font-weight: 700;
}

.seed-rg-body {
	font-size: 18px;
}

.seed-sm-body {
	font-size: 16px;
}

.seed-label {
	font-size: 18px;
	font-weight: 500;
}

.section-main--group-component h6:not(table) {
	margin: 0;
	padding: 0;
}

/* E.g. h1 */
.code-selector {
	color: #acb2be;
}

/* E.g. color */
.code-property {
	color: #ffffff;
}

/* E.g 12px 0px 0px 0px */
.code-value1 {
	color: #93d8ca;
}

/* E.g. 0px 16px 0px 0px */
.code-value2 {
	color: #88aaf9;
}

/* E.g. 0px 0px 16px 0px */
.code-value3 {
	color: #e7c594;
}

/* E.g. 0px 0px 0px 16px */
.code-value4 {
	color: #ea9173;
}

/* Screens smaller than 1440px */
@media screen and (max-width: 1430px) {
	.top-level-navigation {
		padding-left: 32px;
		padding-right: 32px;
	}

	.top-nav-list:nth-child(2),
	.top-nav-list:nth-child(3),
	.top-nav-list:nth-child(4) {
		padding-top: 12px;
	}

	section {
		padding: 0px;
	}

	aside {
		display: none;
	}

	main {
		max-width: 32ch;
		margin: 96px auto 0;
		min-width: 80%;
		padding: 1rem;
	}

	.hero-title {
		font-size: 40px;
	}

	.components-navigation-bar {
		display: none;
	}

	.top-nav-list {
		padding: 8px 12px;
	}

	/* Main Page Nav */
	.top-level-navigation {
		/* width: 96vw; */
		opacity: 0.95;
	}

	.design-goals {
		width: 80%;
	}

	.mobile-nav-hidden {
		display: none;
	}

	.divider-line {
		margin: 32px 0;
	}
}

@media screen and (max-width: 450px) {
	/* table {
		width: 100vw;
		margin-left: 5%;
		transform: translateX(-5%);
	} */

	/* Table Heading */
	th {
		padding: 16px 8px;
	}

	/* Table Data */
	td {
		padding: 16px 8px;
	}
}
